/* ----- 基本設定 ----- */
html {
    scroll-behavior: smooth;
}

:root {
    --accent: #4da3ff;
    --text: #222;
    --bg: #fafafa;

    --radius-sm: 8px;
    --radius-md: 12px;

    --shadow-sm: 0 2px 10px rgba(0,0,0,0.05);
    --shadow-md: 0 4px 12px rgba(0,0,0,0.08);
    --shadow-lg: 0 6px 20px rgba(0,0,0,0.10);

    --transition-fast: 0.2s ease;
    --transition-mid: 0.25s ease;
}


body {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    background: var(--bg);
    color: var(--text);
    font-family: "Noto Sans JP", sans-serif;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}
