/* ----- ギャラリーセクション ----- */
.gallery .img {
    width: 100%
}

.fanart-link {
    margin-top: 30px;
    text-align: center;
}

/* ファンアートボタン */
.fanart-btn {
    display: inline-block;
}
